{% extends 'SiteApp/base.html' %}
{% block title %}
About me
{% endblock title %}
{% block content %}
<div>
<h5>Looking for a webgh developer?</h5>
<p>Send me an Email</p>
<div>
<p class= lead>Leading Digital Evolution from Mvurwi, Zimbabwe</p>
<p> Welcome to the heart of digital innovation! 🌍 I'm Phyb, a 
   passionate developer hailing from the vibrant town of Mvurwi in Zimbabwe.<p>
<p> With a fusion of creativity and technical prowess, I'm on a mission to redefine the digital landscape.<p>
 <h6>Skills that I use in crafting  the Digital Future:</h6> 
   <ul>
   <li>🐍 <strong>Python</strong> - Where functionality meets finesse, Python is my language of choice. Crafting robust solutions that speak your business language. </li>
   <li>🌐 <strong>Django</strong> - Empowering your websites with the elegance and efficiency of the Django framework. Seamlessly merging creativity with functionality.</li>
      <li> 🚀 <strong>Node.js</strong> - Taking web applications to new heights with the speed and scalability of Node.js. Because performance matters. </li>
      <li>🎨 <strong>HTML, Bootstrap, CSS</strong> - Transforming visions into captivating visuals. HTML for structure, Bootstrap for responsiveness, and CSS for that pixel-perfect flair.</li>
      <li> 🔧 <strong>JavaScript</strong> - Infusing life into websites with dynamic JavaScript. From interactive user interfaces to responsive functionalities, it's where the magic happens.</li>
      <li> 📂 <strong>Git</strong> - Navigating the coding journey with precision and collaboration. Git is my compass in the vast world of version control.</li>
   </ul>
 <h6><em>Crafting Digital Dreams in Mvurwi:</em></h6>
    <p>Located in Mashonaland Central province of Zimbabwe, Mvurwi inspires my digital endeavors
       Surrounded by the richness of our culture and the spirit of innovation, I bring a unique blend of
        local flair and global expertise to every project.</p>     
   <h6>Let's Build Something Extraordinary Together:</h6> 
      <p>Whether you're a local business in Mvurwi or a global brand, I'm here to turn your 
         digital dreams into reality. Let's collaborate, innovate, and elevate your online presence.</p>
          📧 <strong> <a href="{% url 'SiteApp:contact' %}" >Contact Phyb </a>- Your Partner in Digital Evolution.<strong>
 <p>
    You can see some of the things i have worked on my <a href="{% url 'SiteApp:projects'%}">projects page</a> 
    and my <a href='link to github page showing repositires'>Github page</a>
 </p>
 <p>
{% endblock content %}