{% load  static  %}
<!DOCTYPE html>
<html>
    <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>
        {% block title %} {% endblock title %}
        </title>
    <meta name="HandheldFriendly" content="True">
   <link rel='stylesheet' href="{%  static 'SiteApp/index.css' %}">
   <link rel='stylesheet' href="{% static 'SiteApp/bootstrap.min.css' %}">
    </head>
    <body class='content'>
    <nav class='siteNav'>
   <!----> <span class='siteNavLeft'>
        <a id='home' class='navLinks' href="/">Phyb</a>
                <ul hidden>
                <li>classic website</li>
                <li>Dynamic website</li>
                <li>web Applications</li>
                <li>digital infrastructure and development</li>
                <li>Digital marketing</li>
                <li>Other</li>
            </ul>
    </span>
        <span class='siteNavRight'>
            <a id="about" class='navLinks' href="{% url 'SiteApp:about' %}">About</a>
            <a id= "projects" class='navLinks' href="{% url 'SiteApp:projects' %}">Projects</a>
                <ul hidden>
                <li>Github repositires</li>
                <li>Samples</li>
                <li>Testimonials</li>
            </ul>  
            <a id='bog' class='navLinks' href="{% url 'SiteApp:blogIndex' %}">Blogs</a>    
        </span>        
    </nav>
    <div>
      <main class='contentBody'>
       {% block content %}{% endblock content %}
       {% block content2 %}{% endblock content2 %}
       </main>
       <footer class='bottomFooter'>
       <nav class='footerNav'>
       <p>Contact me: <a id='order'> Facebook </a>|
        <a id='archives'> Twitter </a>|
        <a id = 'contact'> Telegram </a>|
        <a id='archives'> Discord </a>
       </nav>
        <p> <small>&copy</small> A Phyb<small><sup>&reg</sup></small> production</p>
       </footer>
       </div>
       <script src="{% static 'SiteApp/bootstrap.bundle.min.js' %}"
<body>
</html>
