<!DOCTYPE html>
<html>
    <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>
        {% block title %} {% endblock title %}
        </title>
    <meta name="HandheldFriendly" content="True">
% load bootstrap5 %} {% bootstrap_css %} {% bootstrap_javascript %}    </head>
<body>   
    
<nav class="navbar navbar-expand-sm navbar-dark bg-dark">
    <div class="container-fluid">
      <a class="navbar-brand" href="/">Phyb</a>
      <button class="navbar-toggler collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#navbarsExample04" aria-controls="navbarsExample04" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="navbar-collapse collapse" id="navbarsExample04" style="">
        <ul class="navbar-nav me-auto mb-2 mb-md-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="{% url 'SiteApp:about'%}">About</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'SiteApp:projects'%}">Projects</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'SiteApp:blogIndex'%}">Blog</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
 <main>
       {% block content %}{% endblock content %}
       {% block content2 %}{% endblock content2 %}
       </main>
       <footer>
       <ul class="bg-dark nav justify-content-center">
        <li class="nav-item">
          <a class="nav-link active" href="https://www.facebook.com/phybinc ">Facebook</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-re "href=https://twitter.com/phybeon">Twitter</a>
        </li>
        
        <li class="nav-item">
          <a class="nav-link" href="http://www.linkedin.com/in/phyb">LinkedIn</a>
        </li>
      </ul>
 
        <p class='text-centre'> <small>&copy</small> A Phyb<small><sup>&reg</sup></small> production</p>
       </footer>
       </div>
            
           
            </body>
</html>
