{% extends 'SiteApp/base.html' %}
{% block title %}Phyb: Homepage{% endblock title %}
{% block content %}
<div class='jumbotron'>
<h2 class='display-2'>Welcome to Phyb's Web Studio!</h2>
</p class= 'lead text-center'>Crafting Digital Experiences, One Pixel at a Time.</p>
</div>
<h5 class='display-4'>We offer the following services</h5>
<div class="container-fluid">
  <div class="row">
    <div class="col-sm">
      <div class="card">    
        <div class="card-header"><h5 class='display-5'>
        Website Development
        </h5> </div>
       <div class="card-body">
        <h5 class="card-title">
        Unleash Your Online Potential with Tailor-Made Websites!
        </h5>
        <p class="card-text">

        🚀 Elevate your brand with visually stunning and seamlessly functional websites. From eye-catching designs to smooth 
        user experiences, we transform ideas into captivating online realities. Your story, beautifully told.</p>
        <a href="{% url 'SiteApp:order' %}" class="btn btn-primary">Order Yours</a>
        </div>
      </div>
    </div>
<div class="col-sm">

  <div class="card">
    <div class="card-header"><h5 class='display-5'>
      Digital Marketing
    </h5> </div>
    <div class="card-body">
      <h5 class="card-title">🚀 Boost Your Brand, Dominate the Digital Space!</h5>
      <p class="card-text">Strategic. Impactful. Results-Driven. Our digital marketing expertise propels your brand to new heights. From SEO strategies to social media mastery, we've got the winning formula to turn clicks into clients and views into victories.
    </p>
      <a href="SiteApp:order" class="btn btn-primary">Order Yours</a>
    </div>
  </div>
</div>
</div>
<div class="row">
  <div class="col-sm">
  <div class="card">
    <div class="card-header"><h5 class='display-5'>
      Chatbots
    </h5> </div>
    <div class="card-body">
      <h5 class="card-title">🤖 Intelligent Conversations, Automated Brilliance!</h5>
      <p class="card-text">
        Engage, Convert, Delight – 24/7. Our custom chatbots redefine customer interaction. From answering queries to driving conversions, let your business speak even when you're offline. It's not just automation; it's a conversation revolution.      
        </p>
      <a href="SiteApp:order" class="btn btn-primary">Order Yours</a>
    </div>
  </div>
</div>
<div class="col-sm">
  <div class="card">
    <div class="card-header"><h5 class='display-5'>
      Web apps
    </h5> </div>
    <div class="card-body">
      <h5 class="card-title">⚙️ Powerful Web Apps for Powerful Businesses!</h5>
      <p class="card-text">
        Transform your business processes with dynamic web applications. Seamlessly integrated, user-friendly, and designed to enhance efficiency. Your digital toolkit just got an upgrade – say goodbye to the ordinary, embrace the extraordinary.</p>
      <a href="SiteApp:order" class="btn btn-primary">Order Yours</a>
    </div>
  </div>
</div>
</div>

<div class="row">
  <div class="col-sm">


  <div class="card">
    <div class="card-header"><h5 class='display-5'>
      REST iInfrastructure
    </h5> </div>
    <div class="card-body">
      <h5 class="card-title">🌐 Solid Foundations for Future Growth!</h5>
      <p class="card-text">
        Build on Robust Infrastructure. Our REST architecture ensures scalable and reliable foundations for your digital journey. Smooth, secure, and ready to handle your growing demands. It's not just about today; it's about building for tomorrow.
        </p>
      <a href="SiteApp:order" class="btn btn-primary">Order Yours</a>
    </div>
  </div>
</div>
</div>
< class='text-center'>
    <em>Ready to Ignite Your Digital Presence? <a href="{% url 'SiteApp:contact' %}" > Let's Talk! </a> </em>
    🌐  Phyb- Your Trusted Partner in Digital Evolution.</p>
{% endblock content %}