
{% extends 'SiteApp/base.html' %}
         {% block title %}Websites{% endblock title %}%}/
{% block content %}
<div class="container mt-5">
    <h2 class="mb-4">Unlock Your Online Success with Custom Websites!</h2>

    <p class="lead">🚀 Propel your brand to new heights with visually striking and flawlessly functional websites. From captivating designs to seamless user experiences, we turn concepts into captivating online realities. Your narrative, beautifully expressed.</p>

    <div class="row">
        <div class="col-md-4">
            <h4>💡Why Choose Us?</h4>
            <ul>
                <li>Visually Stunning Designs</li>
                <li>Seamless Functionality</li>
                <li>Tailor-Made Experiences</li>
            </ul>
        </div>
        <div class="col-md-4">
            <h4>💲Affordable Excellence</h4>
            <p>Prices start at just $20!</p>
        </div>
        <div class="col-md-4">
            <h4>Secure Your Professional Presence</h4>
            <p>Get personalized emails like :info@yourname.co.zw</p>
        </div>
    </div>

    <p class="mt-4">Embark on your digital journey with us and watch your online presence soar!</p>

    <!-- Link to place an 
    <a href="{% url 'SiteApp:order' %}" class="btn btn-primary mt-3">Place Your Order</a>

</div>

{% endblock content %}